body{
    background-image: url('https://static.toiimg.com/thumb/msid-100584750,width-1070,height-580,imgsize-21926,resizemode-75,overlay-toi_sw,pt-32,y_pad-40/photo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    text-align: center;
    color: red;
}